.taskItem {
  display: flex;
  align-items: center;
  padding: 1rem;
  gap: 0.5rem;
  box-shadow: inset 0px -1px 0px rgba(0, 0, 0, 0.04);
  cursor: pointer;
}
.taskItem .title {
  text-transform: capitalize;
  font: var(--body2Base);
  flex: 1;
}
