.taskTypeList {
  margin: 0;
  padding: 0;
  list-style-type: none;
  /* outline: 1px solid red; */
}
.taskTypeList li {
  display: flex;
  align-items: center;
  gap: 1.375rem;
  padding: 1rem;
  text-transform: capitalize;
  font: var(--body2Base);
  box-shadow: inset 0px -1px 0px rgba(0, 0, 0, 0.04);
  cursor: pointer;
}
.dot {
  inline-size: 0.625rem;
  block-size: 0.625rem;
  background-color: red;
  border-radius: 100%;
}
