.calendly {
  block-size: calc(100vh - 250px);
  position: relative;
  overflow: auto;
}
.calendar-wrapper.is-active .calendar-content {
  transform: translateY(15%);
}

.calendar-wrapper.is-active .layer {
  display: block;
}
/* .calendar-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  min-block-size: 100vh;
} */
.calendar-content {
  position: absolute;
  top: -2.6rem;
  min-block-size: 95vh;
  left: 0;
  right: 0;
  padding-inline-start: 1rem;
  padding-inline-end: 1rem;
  border-start-start-radius: 0.5rem;
  border-start-end-radius: 0.5rem;
  background-color: var(--just-white);
  z-index: 10000000;
  transform: translateY(500%);
  /* transition: transform 0.3s ease-in; */
  transition: transform 0.2s ease-in-out;
  /* z-index: 1000000;
  padding-block-start: 3rem;
  background-color: var(--just-white);
  */
  /* transform: translateY(100%); */
}

.btn {
  inline-size: 100%;
  block-size: 2.75rem;
  /* padding-inline-start: 8.75rem;
  padding-inline-end: 8.75rem; */
  padding-block-start: 0.5rem;
  padding-block-end: 0.5rem;
  margin-block-end: 0.5rem;
  border: none;
  border-radius: 0.5rem;
  font: var(--buttonFont);
}
.buttons {
  padding-block-start: 1.5rem;
  padding-block-end: 1rem;
  padding-inline-start: 1rem;
  padding-inline-end: 1rem;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1000000;
  background-color: var(--just-white);
}
.btn.is-blue {
  background-color: var(--soft-blue);
  color: var(--just-white) !important;
}
.btn.is-white {
  border: 1px solid var(--soft-blue);
  background-color: var(--just-white);
  color: var(--soft-blue);
}
.btn:active {
  transform: scale(0.98);
}
/* .calendar-wrapper {
  position: absolute;
  background-color: red;
  z-index: 1000000000000;
} */
.layer {
  position: absolute;
  background-color: rgba(51, 51, 51, 0.719);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: none;
  z-index: 1000000;
  /* z-index: 10; */
}
.calendar-contentHeading {
  font: var(--body2Bold);
  display: flex;
  justify-content: space-between;
  margin-block-start: 1rem;
  margin-block-end: 1.625rem;
}
.buttonIcon {
  border: none;
  background-color: transparent;
  font-size: 1.2rem;
  color: var(--soft-blue);
}
@media screen and (min-width: 768px) {
  .calendar-content {
    inline-size: 30%;
    min-block-size: 80vh;
    left: 50%;
    transform: translate(-50%, 150%);
    border-radius: 0.5rem;
  }
  .calendar-wrapper.is-active .calendar-content {
    transform: translate(-50%, 20%);
  }
  .buttons {
    border-end-start-radius: 0.5rem;
    border-end-end-radius: 0.5rem;
  }
}
