.modal-layer {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: none;
  background-color: rgba(51, 51, 51, 0.74);
  z-index: 1000;
}

.modal.is-active .modal-layer {
  display: block;
}
.modal.is-active .modal-content {
  transform: translateY(0);
}
.modal-content {
  position: absolute;
  top: 70%;
  left: 0;
  right: 0;
  bottom: 0;
  padding-inline-start: 1rem;
  padding-inline-end: 1rem;
  border-start-end-radius: 0.5rem;
  border-start-start-radius: 0.5rem;
  background-color: var(--just-white);
  opacity: 1;
  z-index: 1000;
  transform: translateY(100%);
  transition: transform 0.2s ease-in;
  box-sizing: border-box;
}
@media screen and (min-width: 480px) {
  .modal-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    top: 30%;
    left: 50%;
    inline-size: 50%;
    bottom: 50%;
    border-radius: 0.5rem;
    transform: translate(-50%, 450%);
    transition: transform 0.3s ease-in-out;
  }
  .modal.is-active .modal-content {
    transform: translate(-50%, 0);
  }
}
@media screen and (min-width: 1024px) {
  .modal-content {
    inline-size: 25%;
  }
}
.modal-description {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-block-start: 1.5rem;
  padding-block-end: 1rem;
}
.modal-descriptionAction {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.modal-form {
  padding-block-start: 1rem;
}
.modal-input {
  box-sizing: border-box;
  inline-size: 100%;
  outline: none;
  border: none;
  block-size: 2rem;
  font: var(--body2Base);
}
.modal-input::placeholder {
  font: var(--body2Base);
}

.button-form {
  padding: 0.6rem;
  border-radius: 100%;
  border: none;
  background-color: var(--soft-blue);
  color: var(--just-white);
  filter: drop-shadow(0px 2px 5px rgba(0, 0, 0, 0.25));
}
.button-form i {
  font-size: 1rem;
  margin-block-start: 1rem;
}
.button-form:active {
  transform: scale(0.98);
}
.button-form:disabled {
  opacity: 0.5;
}
