.listClassType {
  margin: 0;
  padding: 0;
  list-style-type: none;
  box-shadow: inset 0px -1px 0px rgba(0, 0, 0, 0.04);
}

.listClassType-title {
  padding-inline-start: 1rem;
  padding-inline-end: 1rem;
  padding-block-start: 1rem;
  padding-block-end: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font: var(--body2Bold);
  background-color: var(--bg-color);
  cursor: pointer;
}
.listClassType-details {
  max-block-size: 0;
  overflow: hidden;
  transition: max-block-size 0.5s;
  /* pointer-events: none; */
}
/* .is-active {
  max-block-size: 500px;
  overflow: hidden;
} */
.listClassType.is-active .listClassType-details {
  max-block-size: 500px;
  overflow: hidden;
}
.listClassType.is-active .listClassType-title .logo {
  transform: rotate(-90deg);
}
.logo {
  transform: rotate(0);
  transition: transform 0.1s ease-in;
}
