.modal-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-block-end: 1.5rem;
}
.btn-calendar {
  border: none;
  font-size: 1.2rem;
  color: var(--soft-blue);
}
.calendar-content {
  min-block-size: 30rem;
  max-block-size: 30rem;
  overflow: auto;
}

.calendar-actions button {
  inline-size: 100%;
  text-align: center;
  justify-content: center;
  font: var(--buttonFont);
}
.calendar-actions {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding-block-start: 1rem;
  padding-block-end: 1rem;
}
.calendarModal {
  box-sizing: border-box;
  margin-block-start: 1rem;
}
.btn-blue {
  background-color: var(--soft-blue);
  color: var(--just-white);
}
.btn-outline-blue {
  border-color: var(--soft-blue);
  color: var(--soft-blue);
}
