.task {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  box-shadow: inset 0px -1px 0px rgba(0, 0, 0, 0.04);
  padding: 1rem;
}
.sub-task {
  display: flex;
  gap: 0.5rem;
  margin-block-end: 0.5rem;
}
.taskItem-sub {
  /* padding: 0.5rem; */
  padding-inline-start: 0.5rem;
  margin-block-start: 0.5rem;
  padding-inline-end: 0.5rem;
  margin-inline-start: 2rem;
}
.icon-sub,
.date {
  color: var(--grey);
}
.subTask-details {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.taskItem {
  font: var(--body2Base);
}
.taskItem-title {
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.taskItem-checked {
  display: none;
}
.taskItem-label {
  position: relative;
  content: '';
  display: block;
  border: 1px solid #9e9e9e;
  inline-size: 1.2rem;
  block-size: 1.2rem;
  border-radius: 50%;
  cursor: pointer;
}
.taskItem-label::after {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  content: '';
  display: none;
  inline-size: 0.8rem;
  block-size: 0.8rem;
  background-color: var(--soft-blue);
  border-radius: 50%;
}
.taskItem-checked:checked + .taskItem-label {
  border-color: var(--soft-blue);
}
.taskItem-checked:checked + .taskItem-label::after {
  display: block;
}
.taskItem-description {
  flex: 1;
  cursor: pointer;
}
