.calendarMonth-header {
  font: var(--body1Bold);
  display: flex;
  gap: 0.5rem;
}
.calendarMonth-weekDays {
  display: flex;
  justify-content: space-around;
  padding-block-start: 1rem;
  padding-block-end: 1rem;
  border-bottom: 1px solid var(--bg-color);
  text-transform: capitalize;

  /* display: grid; */
  /* grid-template-columns: repeat(auto-fill, minmax(40px, 1fr)); */
}

.grid-days {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-auto-rows: 2.75rem;
  place-items: center;
}
.calendarMonth {
  margin-block-end: 1rem;
}
