.header {
  color: var(--just-white);
  background-color: var(--soft-blue);
  position: sticky;
  top: 0;
}
.header-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-inline-start: 1rem;
  padding-inline-end: 1rem;
  padding-block-start: 1rem;
  padding-block-end: 1rem;
}
.header-icon .icon-search {
  font-size: 1.4rem;
  color: var(--just-white);
}
.header-logo {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.header-logo img {
  vertical-align: middle;
}
.header-logo a {
  text-decoration: none;
  color: var(--just-white);
}
