.header {
  position: sticky;
  top: 0;
  padding-block-start: 1rem;
  padding-block-end: 1rem;
  background-color: var(--soft-blue);
}
.header-content {
  display: flex;
  justify-content: space-between;
  padding-inline-start: 1rem;
  padding-inline-end: 1rem;
}
.logo {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.logo img {
  border-radius: 0.25rem;
}
.logo span {
  color: var(--just-white);
  font: var(--body2Bold);
  text-transform: capitalize;
}
