.collections-list {
  list-style: none;
  margin: 0;
  padding: 0;
  /* block-size: calc(100vh - 140px); */
  overflow-y: auto;
}
@media screen and (min-width: 768px) {
  .collections-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    /* place-content: center; */
    place-items: center;
    /* grid-auto-rows: minmax(100px, 1fr); */
  }
}
