.subTask-content {
  font: var(--body2Base);
  padding-inline-start: 2rem;
}
.subTask-content {
  display: flex;
  margin-block-end: 0.5rem;
  gap: 0.5rem;
}
.subTask-details {
  color: var(--grey);
}
.subTask-checked {
  display: none;
}
.subTask-label {
  position: relative;
  content: '';
  display: block;
  border: 1px solid #9e9e9e;
  inline-size: 1rem;
  block-size: 1rem;
  border-radius: 50%;
  cursor: pointer;
}
.subTask-label::after {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  content: '';
  display: none;
  inline-size: 0.6rem;
  block-size: 0.6rem;
  background-color: var(--soft-blue);
  border-radius: 50%;
}
.subTask-checked:checked + .subTask-label {
  border-color: var(--soft-blue);
}
.subTask-checked:checked + .subTask-label::after {
  display: block;
}
