.taskType {
  /* display: none; */
  padding-inline-start: 1rem;
  padding-inline-end: 1rem;
  padding-block-start: 1rem;
  padding-block-end: 1rem;
  box-shadow: inset 0px -1px 0px rgba(0, 0, 0, 0.04);
  cursor: pointer;
  /* pointer-events: none; */
}
.taskType-title {
  position: relative;
  /* pointer-events: none; */
  /* display: flex; */
}
.taskType-title a {
  font: var(--body2Base);
  text-decoration: none;
  color: #333;
}
.taskType-title span {
  margin-inline-start: 1.375rem;
  text-transform: capitalize;
}
.taskType-title::before {
  content: '';
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  inline-size: 10px;
  block-size: 10px;
  background-color: red;
  border-radius: 0.5rem;
}
