.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-block-start: 1rem;
}
.modal-header .typeTask {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  text-transform: capitalize;
}
.close-button {
  border: none;
  color: var(--soft-blue);
  font-size: 1rem;
}
.subTask-button {
  border: none;
  padding-block-end: 1rem;
}
.taskItem {
  margin-inline-start: 0;
  margin-inline-end: 0;
}
.modalDetail {
  min-block-size: 30.625rem;
}
.modalDetail .task .taskItem {
  padding-inline-start: 0;
}
.modalDetail .task {
  margin-block: 1rem;
}
.task-date {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 0.5rem;
  inline-size: 6.25rem;
  padding: 0.5rem;
  border-radius: 0.5rem;
  border: 1px solid var(--grey);
  color: var(--grey);
}
.task-date p {
  margin: 0;
  display: flex;
  gap: 0.25rem;
}
