.calendar-days {
  display: flex;
  gap: 0.5rem;
  inline-size: 100%;
  padding-block-start: 0.75rem;
  padding-block-end: 0.75rem;
  justify-content: space-around;
  border-bottom: 1px solid #ececec;
}
.calendar-content {
  margin-block-end: 1.5rem;
}
.calendar-value {
  /* display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: space-evenly; */
  display: grid;
  place-items: center;
  grid-template-columns: repeat(7, 1fr);
}
.calendar-heading {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  margin-inline-start: 1rem;
}
.calendar-heading span {
  text-transform: capitalize;
  font: var(--body1Bold);
}
.calendar {
  margin-block-end: 1rem;
}
