.btn-calendar {
  display: flex;
  gap: 0.5rem;
  justify-content: center;
  align-items: center;
  inline-size: 6.75rem;
  block-size: 2.5rem;
  padding-block-start: 0.5rem;
  padding-block-end: 0.5rem;
  padding-inline-start: 0.5rem;
  padding-inline-end: 0.5rem;
  border: none;
  background-color: transparent;
  border: 1px solid var(--grey);
  border-radius: 0.5rem;
  color: var(--grey);
  font: var(--body2Base);
  cursor: pointer;
}
.btn-calendar:active {
  transform: scale(0.98);
}
.btn-calendar i {
  font-size: 1.1rem;
}
