:root {
  --soft-blue: #523be8;
  --just-white: #fff;
  --black: #2b2b2b;
  --grey: #8f8f8f;
  --grey-2: #707070;
  --bg-color: #ececec;
  --baseFont: 'Open Sans', sans-serif;
  --body1Bold: bold 1rem/1.75rem var(--baseFont);
  --body1Base: normal 1rem/1.75rem var(--baseFont);
  --body2Bold: bold 0.875rem/1.375rem var(--baseFont);
  --body2Base: normal 0.875rem/1.375rem var(--baseFont);
  --buttonFont: normal 1rem /1.75rem var(--baseFont);
  --smallFont: normal 0.75rem / normal var(--baseFont);
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* max-block-size: 100vh;
  overflow: hidden; */
  min-block-size: 100vh !important;
  overflow: hidden;
}

img {
  max-inline-size: 100%;
}
.ellipsis {
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.buttonIcon {
  cursor: pointer;
}
button {
  display: flex;
  align-items: center;
  padding: 0.5rem;
  border: 1px solid var(--grey);
  border-radius: 0.5rem;
  gap: 0.5rem;
  background-color: unset;
  color: var(--grey);
  font: var(--body2Base);
  cursor: pointer;
}
button:active {
  transform: scale(0.98);
}
.customCheck {
  position: relative;
  inline-size: 1rem;
  block-size: 1rem;
  border: 1px solid #2b2b2b;
  border-radius: 50%;
}
.customCheck::before {
  position: absolute;
  content: '';
  display: block;
  inline-size: 0.7rem;
  block-size: 0.7rem;
  background-color: var(--soft-blue);
  top: 50%;
  left: 50%;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: opacity 0.2s ease-in;
}
.inputCheck {
  display: none;
}
.customCheck {
  cursor: pointer;
}
.inputCheck:checked + .customCheck {
  border-color: var(--soft-blue);
}
.inputCheck:checked + .customCheck::before {
  opacity: 1;
}
