.tagTask {
  padding: 0.5rem;
  position: relative;
  display: flex;
  align-items: center;
  inline-size: 40%;
  flex: 0;
  font: var(--body2Base);
  text-transform: capitalize;
}
.tagTask span {
  margin-inline-start: 1rem;
}
.tagTask::before {
  position: absolute;
  content: '';
  inline-size: 10px;
  block-size: 10px;
  background-color: coral;
  border-radius: 50%;
}
.is-border {
  border: 1px solid #8f8f8f;
  border-radius: 0.5rem;
}
