.tagTask {
  font: var(--body2Base);
  text-transform: capitalize;
  position: relative;
  display: flex;
  align-items: center;
  inline-size: 40%;
  flex-shrink: 0;
}
.tagTask span {
  margin-inline-start: 1rem;
}
.tagTask::before {
  position: absolute;
  content: '';
  inline-size: 10px;
  block-size: 10px;
  background-color: coral;
  border-radius: 50%;
}
